<?xml version="1.0" encoding="utf-8"?>
<launch>
	<!-- Launch Turtlesim Simulation -->
	<node pkg="turtlesim" name="turtlesim" type="turtlesim_node" />
	<!-- Custom nodes -->
	<node pkg="hw1" name="publish_input" type="publish_input.py" output="screen" />
	<node pkg="hw1" name="publish_vel" type="publish_vel.py" />
</launch>
